target/
.idea
/.idea
/.idea_modules
/*.iml
/out
/.project
/.classpath
/bin
/RUNNING_PID
/.settings
/data
#sbt
project/project
project/target
libexec
target
.cache/
tmp
.history
dist
*log.http


#scala
*.class
*.log
logs

.DS_Store
